.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(117,117,117,3);
}
.header input{
width: 500px;
padding: 10px;
border: 1px solid rgb(100, 100, 100);

}
.header button {
  width: 150px;
  background: crimsond;
  border:none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}
.gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}.gallery img{
  width: 25%;
  height: 400px;
  object-fit: cover;
}